body {
	margin: 0px;
}
div {
    padding: 10px 25px 10px 25px;
}
.layout {
	overflow: hidden;
	padding: 0px;
}
.chat {
    width: 300px;
    min-height: 300px;
    background-color: #fcf8e3;
    float: left;
}
.coins-list {
	width: 210px;
	float: left;
    min-height: 300px;
    background-color: #b8c5e0;
}
.right-column {
    min-height: 300px;
    background-color: #d9edf7;
	margin-left: 510px;
}

.header, .footer {
	background-color: #637db2;
}